body {
    background-color: hsl(0, 0%, 8%);
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 280px;
    padding-bottom: 12px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: hsl(0, 0%, 12%);

    text-align: center;
    font-family: system-ui, sans-serif;
}

img {
    width: 70px;
    border-radius: 50%;
    margin-top: 30px;
}

.name {
    margin: 15px 0 0 0;
    font-weight: 600;
    font-size: 18px;
}

.location {
    margin: 3px 0 12px 0;
    font-size: 11px;
    font-weight: 500;
    color: hsl(75, 94%, 57%);
}

.bio {
    font-size: 11px;
    margin: 14px 0 20px 0;
    color: #C0C0C0;
}

.links {
    width: 200px;
    display: block;
    margin: 12px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 20%);
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

a:active {
    background-color: hsl(75, 94%, 57%);
    color: black;
    font-weight: 700;
}

/* You can center your content using Flexbox if you apply these to the body tag: 
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
